---
const today = new Date();

import { SITE_TITLE, PRODUCT_DESCRIPTION } from '../consts';
import {SLOGAN} from '../consts';
import {BRAND} from '../consts';
import {VERSION} from '../consts';
---

<footer>
	<p>&copy; {today.getFullYear()} <strong>{BRAND}</strong> — {SLOGAN}<br>
	{PRODUCT_DESCRIPTION}<br>All rights reserved. V. {VERSION}</p>

</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
